@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
	margin-top: 1em;
}

section[epub|type~="dedication"] p{
	text-align: center;
	text-indent: 0;
}

span[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p,
.directions p,
[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="dedication"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
